{% extends "todo/base.html" %}
<br> {% block content %} {% if object_list %}
<table class="table table-bordered">
    {% for object in object_list %} {% if object.complated %}
    <tr class="table-secondary">
        <td class="striker"><a href="{% url 'todo:item-edit' object.id %}">{{ object.item }}</a></td>
        <td>
            <center>
                <a href="{% url 'todo:item-uncross' object.id %}">Uncross</a>
            </center>
        </td>
        <td>
            <a href="{% url 'todo:item-delete' object.id %}">
                <center>Delete</center>
            </a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td><a href="{% url 'todo:item-edit' object.id %}">{{ object.item }}</a></td>
        <td>
            <center>
                <a href="{% url 'todo:item-cross-off' object.id %}">Cross-Off</a>
            </center>
        </td>
        <td>
            <a href="{% url 'todo:item-delete' object.id %}">
                <center>Delete</center>
            </a>
        </td>
    </tr>
    {% endif %} {% endfor %}</table> {% endif %} {% endblock %}